/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* INICIO tablas de angular material */
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
/* FIN tablas de angular material */

.row {
  margin: 5px 5px;
}

.badge {
  font-weight: normal;
}

.padding-5 {
  padding: 5px;
}
